# Compiled executable files
*.exe
*.out
*.app

# Compiled object files
*.o
*.obj

# The Compilation Graveyard (Crucial for the new architecture)
build/

# Language Server / Tooling Artifacts
compile_commands.json
.cache/

# VS Code specific workspace settings
.vscode/